
#root {
  max-width: 1280px;
  margin: auto;
  min-height: 100vh;
  /* padding: 2rem; */
  text-align: center;
}


body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: #1a1919;
  color: #999;
}

.button-dark {
  background-color: #18181b;
  fill: #FFFFFF;
}

.chat-history, .chatbot-container{
  height: 42.55rem;
  max-height: 42.55rem;
  overflow-y: auto;
}

.user-input-height{
  height: 10rem;
  margin-top: 1rem;
}
