@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  /* text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.message-container {
  overflow-x: auto; /* Enable horizontal scrolling for the entire message container */
}

.user-message,
.chatbot-message {
  margin-bottom: 1rem; /* Add space between messages */
  max-width: 100%; /* Limit message width */
  overflow-x: auto; /* Enable vertical scrolling */
  max-height: 10rem; /* Limit message height */
  white-space: nowrap; /* Prevent message content from wrapping */
}

.user-message {
  margin-left: 50%; /* Align user messages to the right */
}

.chatbot-message {
  margin-right: 50%; /* Align chatbot messages to the left */
}

