@tailwind base;
@tailwind components;
@tailwind utilities;

 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

.message-container {
  overflow-x: auto; /* Enable horizontal scrolling for the entire message container */
}

.user-message,
.chatbot-message {
  margin-bottom: 1rem; /* Add space between messages */
  max-width: 100%; /* Limit message width */
  overflow-x: auto; /* Enable vertical scrolling */
  max-height: 10rem; /* Limit message height */
  white-space: nowrap; /* Prevent message content from wrapping */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} 
